@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./images/NeZadniyFon.jpg);
}

.text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.end {
    margin-top: 500px;
    text-align: center;
    color: #ffffff;
}