.card {
    box-shadow: 10px 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

img {
    border-radius: 30px 30px 30px 30px;
}

.cards {
    display: flex;
    text-align: center;
}